{% extends 'layout/base_html.html' %}

{% block title %}Solve real-world challenges on open products | OpenUnited{% endblock %}

{% block footer %}


{% block footer %}
{% include 'layout/footer.html' %}
{% endblock %}

{% block scripts %}
<script src="https://cdn.tailwindcss.com?plugins=line-clamp"></script>
<script src="https://cdn.jsdelivr.net/npm/choices.js@9.0.1/public/assets/scripts/choices.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/quill@2.0.0-rc.2/dist/quill.js"></script>
{% endblock %}
